.orbit-oec-wrapper {
	border-top: 1px solid #ececec;
	padding:  20px 0px;

}

.orbit-oec-wrapper .oec-title{ 
	color: #000;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;

}

.orbit-oec-comments {
	list-style: none;
	padding: 10px 0 10px 0;
}

.orbit-oec-comments.snippets {
	max-height: 250px;
	overflow: auto;
}


.orbit-oec-comments .comment {
	margin: 8px 0px 5px 0px;
    padding: 4px 10px;
	font-family: Montserrat, sans-serif;
	border:1px solid #fefefe;
	line-height: 1.7;
}


.orbit-oec-comments .comment .comment-meta, .orbit-oec-comments .comment .comment-meta a[href] {
	font-size: 10px;
	color: #333;
	font-weight: 500;
}

.comment-strong {
	font-style: normal;
	text-align:right;
}

.oec-pull-right {
	float:right;
}

.oec-mb-5 {
	margin-bottom: 25px;
}

.oec-mt-5 {
	margin-top: 25px;
}

.oec-mt-2 {
	margin-top: 10px;
}


/* Multi-Line Truncation with Pure CSS : Css-Tricks */
.truncate-overflow {
  position: relative;
  line-height: 1.43em;
  max-height: 4.29em;
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}